.projectBlock {
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 10px;
     padding: 24px;
     border: 1px solid rgba(255, 255, 255, 0.2);
     border-radius: 16px;
     background-color: var(--theme-bg);

     h3 {
          margin-bottom: 24px;
     }

     &__stats {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 4px;
          margin-bottom: 24px;
     }
}