.header {
     background-color: var(--color-black);

     &__flex {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          padding: 12px 0px;
     }

     &__headline {
          font-size: 16px;
          text-transform: uppercase;
          color: var(--color-white);

     }
}