.collection-list__wrap,
.doc-header {
     padding-top: 24px;
}


.dashboard {
     padding-top: 24px;

     &__mainheading {
          &>strong {
               color: var(--color-orange);
          }
     }

     &__grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 20px;
     }

     &__allProjects {
          display: inline-block;
     }

     &__projects {
          padding-top: 40px;
          padding-bottom: 40px;

          h2 {
               margin-bottom: 32px;
          }
     }

     &__tabs {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__navigation {
               display: flex;
               gap: 10px;
               list-style: none;
               margin: 0;
               padding: 0;
               padding-bottom: 24px;
               border-bottom: 1px solid var(--color-white);
               margin-bottom: 24px;

               &__item {
                    &.active {
                         a {
                              color: var(--color-orange);
                         }
                    }

                    a {
                         color: var(--color-white);
                         display: inline-block;
                         position: relative;
                         text-decoration: none;
                         font-size: 15px;
                         line-height: 175%;
                         font-weight: 500;
                         transition: all 0.3s ease-in-out;

                         &:hover {
                              color: rgba(255, 255, 255, 0.7);
                         }
                    }
               }
          }
     }
}