.navigation {
     justify-content: space-between;
     padding: var(--app-header-height) 1.5384615385rem var(--app-header-height) 1.5384615385rem;
     position: sticky;
     overflow: clip !important;

     &__links {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 20px;

          a {
               font-size: 16px;
               text-decoration: none;
          }
     }

     &__logout {
          font-weight: 700;
          font-size: 16px;
          text-decoration: none;
     }

     &__container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          width: 100%;
          position: sticky;
          height: calc(100vh - var(--app-header-height));
          top: 60px;
          z-index: 1000;
          padding-bottom: 40px;
     }
}